@charset "utf-8";

.navbar {
    -webkit-box-shadow: 0px 0px 4px grey;
    -moz-box-shadow: 0px 0px 4px grey;
    box-shadow: 0px 0px 4px grey;
}

.navbar-toggler {
    border: none;
}

.navbar .navbar-brand {
    font-weight: bolder;
    letter-spacing: 1px;
    color: rebeccapurple;
    font-size: 30px;
    text-transform: capitalize;
    font-family: "Akaya Kanadaka", cursive;
    font-variant: small-caps; 
    padding-left: 6px;
    transform: translateY(-2px);
}

.navbar .nav-item {
    letter-spacing: 1px;
    font-weight: 500;
    font-family: "Akaya Kanadaka", cursive;
    padding: 0 6px;
    font-size: larger;
}

@media screen and (min-width: 991px) {
    .navbar .navbar-brand {
        transform: translateY(-3.5px);
    }
}